
#search-input-wrap.on {
    display: inline-block;
}
#search-input-wrap {
    display: none;
    padding-left: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid #999;
}
#search-input-icon {
    color: #fff;
    padding-right: .5em;
    display: inline-block;
    opacity: .7;
}
#search-input {
    background: 0 0;
    font-size: inherit;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    outline: 0;
    -webkit-appearance: none;
}
input {
    margin: 0;
    padding: 0;
    border: 0;
}


::selection {
    /* color: #fff; */
    color: rgba(255,255,255,0.85);
    background: #ea4c89;
}

.content h2 {
    font-size: 20px;
    margin: 30px 0 0;
}

.content h3 {
    font-size: 18px;
    margin: 30px 0 0;
}

.content a {
    color: #22272b;
}

.timeline-subtitle {
    font-weight: bold;
    margin: 100px 0px 30px 0px !important;
}


::-webkit-scrollbar-thumb {
    background-color: #d2d2d2;
}

.post > a {
    border: 1px solid #eaeaea;
}